<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="MyStringConection" connectionString="Data Source=DESKTOP-0M99BC2\MSSQLSERVER1;Initial Catalog=TP1integrador;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Presentacion_UI.Properties.Settings.TP1integradorConnectionString"
   connectionString="Data Source=DESKTOP-0M99BC2\MSSQLSERVER1;Initial Catalog=TP1integrador;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>	
</configuration>
